{% extends "detail/base.html" %}
{% load static %}
{% block bb %}
<h1 class="text-center">MY PAGE</h1>

<div class="container">
    <div class="row mb-2">
        <div class="col-md-6 d-flex justify-content-left">
            <div class="card" style="width: 18rem; position:fixed;">
              <img src="{% static 'img/2.gif' %}" class="card-img-top rounded-circle" alt="...">
              <div class="card-body">
                <h1 class="card-title">안현상</h1>
                <h6 class="card-subtitle mb-2 text-muted">happylovetkd@naver.com</h6>
                <p class="card-text">현재 돼지</p>
                <a href="#" class="card-link">Logout</a>
              </div>
            </div>
        </div>
        <div class="col-md-6 d-flex justify-content-right">
            <div class="mypage card" style="width: 50rem;">
              <div class="card w-150">
              <img src="https://post-phinf.pstatic.net/MjAxNzA2MjhfODQg/MDAxNDk4NjU2MzgyNzcx.TVy7np7EVlKjuntLKN_qdwrGB8lGBdfMwkX6p3WV6rQg.6oHbF6lWH0iINgljB7CF3jSeYX342hsdl8fekB8yawsg.PNG/9.PNG?type=w1200" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">라이언</h5>
                <p class="card-text">너무너무 귀엽다.</p>
                <a href="#" class="btn btn-primary">Button</a>
              </div>
            </div>
            
            <div class="card w-150">
              <img src="https://pbs.twimg.com/media/DSYRwQsVwAEbNlu.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">라이언</h5>
                <p class="card-text">너무너무 귀엽다</p>
                <a href="#" class="btn btn-primary">Button</a>
              </div>
            </div>
            
            <div class="card w-150">
              <img src="https://t1.daumcdn.net/thumb/R1280x0/?fname=http://t1.daumcdn.net/brunch/service/user/4b0D/image/BcmLVUMM7PhfOocvz8xcDvNX6_s.gif" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">라이언</h5>
                <p class="card-text">너무너무 귀엽다</p>
                <a href="#" class="btn btn-primary">Button</a>
              </div>
            </div>
            
            <div class="card w-150">
              <img src="http://playwares.com/files/attach/images/130099/558/588/056/a7b4d2a3067d4acc1bd08552373ef3df.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">라이언</h5>
                <p class="card-text">너무너무 귀엽다</p>
                <a href="#" class="btn btn-primary">Button</a>
              </div>
            </div>
            
            <div class="card w-150">
              <img src="https://post-phinf.pstatic.net/MjAxNzA2MjhfMTU2/MDAxNDk4NjU2MzgyNzky.4pyN3wih1cA37pFT1nvZVUvoLemMqd_QkNv9FyLhMjEg.ALr8QaaHT01VKHy5dJ6VjTkYfTcxiGSVtXDG7SRJTiwg.PNG/1.PNG?type=w1200" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">라이언</h5>
                <p class="card-text">너무너무 귀엽다</p>
                <a href="#" class="btn btn-primary">Button</a>
              </div>
            </div>
            </div>
        </div>
    </div>    
</div>
{% endblock %}